$white: #fff;
$black: #000;
$dark: #121212;
$blue-50: #cfdbff;
$blue-100: #bed0ff;
$blue-200: #a9c0ff;
$blue-400: #5686ff;
$blue-500: #2f59ff;
$blue-600: #0548ff;
$blue-800: #0032bc;
$blue-950: #0a135c;
$gray-50: #f6f6f6;
$gray-100: #e7e7e7;
$gray-200: #d1d1d1;
$gray-300: #b0b0b0;
$gray-400: #888888;
$gray-500: #6d6d6d;
$gray-700: #4f4f4f;
$gray-950: #121212;
$red-600: #ea3323;
$red-700: #c41f11;

$sm: 430px;
$md: 834px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1920px;
